doctype
html(lang=config.language)
    head
        include head
    body
        .wrap
            header
                a.logo-link(href=url_for())
                    img(src=url_for(theme.logo) alt="logo")
                include nav
            main.container
                block container
            footer
                block pagination
                block copyright
        include scripts
        script(src="//cdn.jsdelivr.net/highlight.js/9.10.0/highlight.min.js")
        script.
            hljs.initHighlightingOnLoad();
        script(src='/js/index.js' type='text/javascript')